<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.androg.androg.repository.CartRepository">
	<resultMap type="com.korit.androg.androg.entity.Products" id="productsMap">
		<id property="productId" column="product_id"/>
		<result property="productName" column="product_name"/>
		<result property="productPrice" column="product_Price"/>
		<result property="productImg" column="product_img"/>
		<result property="sizeS" column="size_s"/>
		<result property="sizeM" column="size_m"/>
		<result property="sizeL" column="size_l"/>
		<result property="sizeXL" column="size_xl"/>
		<result property="sizeXXL" column="size_xxl"/>
		<association property="category" resultMap="categoryMap"></association>
		<association property="color" resultMap="colorMap"></association>
	</resultMap>
	
	<resultMap type="com.korit.androg.androg.entity.Category" id="categoryMap">
		<id property="categoryId" column="category_id"/>
		<result property="categoryName" column="category_name"/>
	</resultMap>
	
	<resultMap type="com.korit.androg.androg.entity.Color" id="colorMap">
		<id property="colorId" column="color_id"/>
		<result property="colorName" column="color_name"/>
	</resultMap>
	<resultMap type="com.korit.androg.androg.dto.Product.getCartResponseDto" id="getCartByUserId">
		<id property="cartId" column="cart_id"/>	
		<result property="productName" column="product_name"/>
		<result property="productPrice" column="product_price"/>
		<result property="productImg" column="product_img"/>
		<result property="sizeName" column="size_name"/>
		<result property="colorName" column="color_name"/>
		<result property="countNumber" column="count_number"/>
	</resultMap>
	
	<insert id="addCart">
		insert into cart_tb
		values(0, #{userId},#{productId},#{sizeName},#{countNumber})
	</insert>
	<select id="getCartByuserId" parameterType="Integer" resultMap="getCartByUserId">
		select
			ct.cart_id,
		    pt.product_name,
		    pt.product_price,
		    pt.product_img,
		    ct.size_name,
		    clt.color_name,
		    ct.count_number
		from 
			cart_tb ct
			left outer join product_tb pt on (pt.product_id = ct.product_id)
		    left outer join color_tb clt on (clt.color_id = pt.color_id)
		where
			ct.user_id = #{userId}
			and ct.count_number >0
				
	</select>
	<delete id="deleteCartByCartId" parameterType="Integer">
		delete from cart_tb
		where 
			cart_id = #{cartId}
		
	</delete>
	<update id="plusCountByCartId">
		update cart_tb
		set cart_tb.count_number =cart_tb.count_number + 1
		where
			cart_id = #{cartId};
	</update>
	<update id="minusCountByCartId">
		update cart_tb
		set cart_tb.count_number =cart_tb.count_number - 1
		where
			cart_id = #{cartId};
	</update>
	
</mapper>