<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.androg.androg.repository.ProductsRepository" >
	<resultMap type="com.korit.androg.androg.entity.Products" id="productsMap">
		<id property="productId" column="product_id"/>
		<result property="productName" column="product_name"/>
		<result property="productPrice" column="product_Price"/>
		<result property="productImg" column="product_img"/>
		<result property="sizeS" column="size_s"/>
		<result property="sizeM" column="size_m"/>
		<result property="sizeL" column="size_l"/>
		<result property="sizeXL" column="size_xl"/>
		<result property="sizeXXL" column="size_xxl"/>
		<association property="category" resultMap="categoryMap"></association>
		<association property="color" resultMap="colorMap"></association>
	</resultMap>
	
	<resultMap type="com.korit.androg.androg.entity.Category" id="categoryMap">
		<id property="categoryId" column="category_id"/>
		<result property="categoryName" column="category_name"/>
	</resultMap>
	
	<resultMap type="com.korit.androg.androg.entity.Color" id="colorMap">
		<id property="colorId" column="color_id"/>
		<result property="colorName" column="color_name"/>
	</resultMap>
	<resultMap type="com.korit.androg.androg.dto.Product.getCartResponseDto" id="getCartByUserId">
		<id property="cartId" column="cart_id"/>	
		<result property="productName" column="product_name"/>
		<result property="productPrice" column="product_price"/>
		<result property="productImg" column="product_img"/>
		<result property="sizeName" column="size_name"/>
		<result property="colorName" column="color_name"/>
		<result property="countNumber" column="count_number"/>
	</resultMap>
	
	
	
	<select id="getProductsByCategoryId" parameterType="hashmap" resultMap="productsMap" >
		SELECT
			pt.product_id,
            pt.product_name,
            pt.product_price,
            pt.product_img,
            pt.size_s,
            pt.size_m,
            pt.size_l,
            pt.size_xl,
            pt.size_xxl,
			ct.category_id,
            ct.category_name,
            clt.color_id,
            clt.color_name
		FROM
			product_tb pt
            left outer join category_tb ct on(ct.category_id = pt.category_id)
            left outer join color_tb clt on(clt.color_id = pt.color_id)
		where
		1 = 1
		<if test="categoryId != 7">
        	AND pt.category_id = #{categoryId}
    	</if>
    	limit
    		#{page}, 20
	</select>
	<select id="getProductByProductId" parameterType="Integer" resultMap = "productsMap" >
		SELECT
			pt.product_id,
            pt.product_name,
            pt.product_price,
            pt.product_img,
            pt.size_s,
            pt.size_m,
            pt.size_l,
            pt.size_xl,
            pt.size_xxl,
			ct.category_id,
            ct.category_name,
            clt.color_id,
            clt.color_name
		FROM
			product_tb pt
            left outer join category_tb ct on(ct.category_id = pt.category_id)
            left outer join color_tb clt on(clt.color_id = pt.color_id)
        where
        	pt.product_id = #{productId}
	</select>
	<select id="getProductsBySearchInput" parameterType="hashmap" resultMap = "productsMap">
		SELECT
			pt.product_id,
            pt.product_name,
            pt.product_price,
            pt.product_img,
            pt.size_s,
            pt.size_m,
            pt.size_l,
            pt.size_xl,
            pt.size_xxl,
			ct.category_id,
            ct.category_name,
            clt.color_id,
            clt.color_name
		FROM
			product_tb pt
            left outer join category_tb ct on(ct.category_id = pt.category_id)
            left outer join color_tb clt on(clt.color_id = pt.color_id)
        where
        	pt.product_name like concat("%",#{searhInput},"%")
        	or clt.color_name like concat("%",#{searhInput},"%")
       	limit
       		${page}, 20
	</select>
	<select id="getTotalCountByCategoryId" parameterType="Integer"  resultType="Integer">
		SELECT
			count(*) as total_count
		FROM
			product_tb pt
            left outer join category_tb ct on(ct.category_id = pt.category_id)
            left outer join color_tb clt on(clt.color_id = pt.color_id)
        where
        	pt.category_id = #{CategoryId}
	</select>
	<select id="getTotalCountBySearchInput" parameterType="hashmap"  resultType="Integer">
		SELECT
			count(*) as total_count
		FROM
			product_tb pt
            left outer join category_tb ct on(ct.category_id = pt.category_id)
            left outer join color_tb clt on(clt.color_id = pt.color_id)
        where
        	pt.product_name like concat("%",#{searchInput},"%")
        	or clt.color_name like concat("%",#{searchInput},"%")
	</select>
	
	<select id="getSameNameProductsByProductId" parameterType="Integer" resultMap="productsMap">
		SELECT
			pt.product_id,
            pt.product_name,
            pt.product_img
		FROM
			product_tb pt 
		where
			pt.product_name = (select
										pt.product_name
									from
										product_tb pt
									where 
										pt.product_id = #{productId})
		
		
	</select>
</mapper>