<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.androg.androg.repository.ReviewRepository">

<resultMap type="com.korit.androg.androg.entity.User" id="userMap">
	<id property="userId" column="user_id"/>
	<result property="email" column="email"/>
	<result property="password" column="password"/>
	<result property="name" column="name"/>
	<collection property="authorities" javaType="list" resultMap="authorityMap"></collection>
</resultMap>
<resultMap type="com.korit.androg.androg.entity.Role" id="roleMap">
	<id property="roleId" column="role_id"/>
	<result property="roleName" column="role_name"/>
</resultMap>

<resultMap type="com.korit.androg.androg.entity.Authority" id="authorityMap">
	<id property="authorityId" column="authority_id"/>
	<result property="userId" column="user_id"/>
	<result property="roleId" column="role_id"/>
	<association property="role" resultMap="roleMap"></association>
</resultMap>

<resultMap type="com.korit.androg.androg.entity.Products" id="productsMap">
		<id property="productId" column="product_id"/>
		<result property="productName" column="product_name"/>
		<result property="productPrice" column="product_Price"/>
		<result property="productImg" column="product_img"/>
		<result property="sizeS" column="size_s"/>
		<result property="sizeM" column="size_m"/>
		<result property="sizeL" column="size_l"/>
		<result property="sizeXL" column="size_xl"/>
		<result property="sizeXXL" column="size_xxl"/>
		<association property="category" resultMap="categoryMap"></association>
		<association property="color" resultMap="colorMap"></association>
	</resultMap>

<resultMap type="com.korit.androg.androg.entity.OrderProducts" id="orderProductsMap">
	<id property="orderId" column="order_id"/>
	<result property="sizeName" column="size_name"/>
	<result property="countNumber" column="count_number"/>
	<result property="productId" column="product_id"/>
	<association property="user" resultMap="userMap"></association>
	<association property="products" resultMap="productsMap"></association>
	<association property="color" resultMap="colorMap"></association>
</resultMap>

<resultMap type="com.korit.androg.androg.entity.Review" id="reviewMap">
	<id property="reviewId" column="review_id"/>
	<result property="userId" column="user_id"/>
	<result property="productId" column="product_id"/>
	<result property="content" column="content"/>
	<result property="reviewDate" column="review_date"/>
	<association property="user" resultMap="userMap"></association>
</resultMap>

<resultMap type="com.korit.androg.androg.entity.Category" id="categoryMap">
		<id property="categoryId" column="category_id"/>
		<result property="categoryName" column="category_name"/>
	</resultMap>
	
	<resultMap type="com.korit.androg.androg.entity.Color" id="colorMap">
		<id property="colorId" column="color_id"/>
		<result property="colorName" column="color_name"/>
</resultMap>

<select id="getProduct" parameterType="hashmap" resultMap="orderProductsMap">
select
		pt.product_name,
    	pt.product_price,
    	pt.product_img,
    
   	 	ct.color_name,
    	ot.size_name,
    	ot.order_id,
    	ot.count_number,
    	ot.product_id,
    
    	ut.name
	from
		order_tb ot
	left outer join product_tb pt on(pt.product_id = ot.product_id)
	left outer join user_tb ut on(ut.user_id = ot.user_id)
	left outer join color_tb ct on(ct.color_id = pt.color_id)

	where
 		ot.user_id = #{userId}
	and
		ot.product_id = #{productId};

</select>

<insert id="reviewRegister" parameterType="com.korit.androg.androg.entity.Review">
 insert into review_tb
 values(0,#{userId},#{productId},#{content},CURDATE())
</insert>

<select id="getReviews" parameterType="Integer" resultMap="reviewMap">
 select
	rt.product_id,
    rt.content,
    rt.review_date,
    rt.user_id,
    rt.review_id,
    ut.name
from review_tb rt
 left outer join user_tb ut on(ut.user_id = rt.user_id)
 where
  rt.product_id = #{product_id}
</select>

<update id="reviewFlag" parameterType="hashmap">
	update order_tb
	set review_flag = 1
	where 
		user_id = #{userId}
	and
		product_id = #{productId};
</update>

<update id="reviewModify" parameterType="com.korit.androg.androg.dto.review.ReviewModifyReqDto">

	update review_tb
	set review_date = #{reviewDate},
		content = #{content}
	where
		review_id = #{reviewId}

</update>

</mapper>